[alias]
    stat = status
    incoming = !git remote update -p; git log ..@{u}
    in = incoming
    outgoing = log @{u}..
    out = outgoing
[user]
    email = pmbarrett314@gmail.com
    name = Paul Barrett

[push]
    default = simple

[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false

[merge]
    tool = bc3
    conflictstyle = zdiff3

[core]
    pager = "command -v delta >/dev/null 2>&1 && delta || less"

[interactive]
    diffFilter = "command -v delta >/dev/null 2>&1 && delta --color-only || cat"

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true

[diff]
    colorMoved = default

[mergetool]
    bc3 = trustExitCode

[mergetool "winmerge"]
    name = WinMerge
    trustExitCode = true
    cmd = "/cygdrive/c/Program\\ Files\\ \\(x86\\)/WinMerge/WinMergeU.exe" -u -e -dl \"Local\" -dr \"Remote\" $LOCAL $REMOTE $MERGED
